extends layout/template

block vars

block head
    //+loadCSS('/css/promo.css')

block content
    section.section
        .container
            .section__title.section__title_film Каталог фильмов
            include ./layout/block/search
            .films
                ul.films__list.js-list-wrap
            button.js-btn.btn.btn_more Показать еще


block footer
    script(src="/js/main.bundle.js")