extends layout/template

block vars

block head
    //+loadCSS('/css/promo.css')

block content
    section.section
        .container
            .section__title.section__title_film Каталог фильмов
            .search
                i.search__icon
                input.search__input(type="text" autocomplete="off" name='search' placeholder="Введите название")
            .films
                ul.films__list
                    li.films__item
                        .films__img
                            img(src="http://placehold.it/260x85?text=Placeholder" alt="")
                        .films__body
                            span.films__title Название фильма
                            span.films__name Режиссер
                    li.films__item
                        .films__img
                            img(src="http://placehold.it/260x85?text=Placeholder" alt="")
                        .films__body
                            span.films__title Название фильма
                            span.films__name Режиссер
                    li.films__item
                        .films__img
                            img(src="http://placehold.it/260x85?text=Placeholder" alt="")
                        .films__body
                            span.films__title Название фильма
                            span.films__name Режиссер
                    li.films__item
                        .films__img
                            img(src="http://placehold.it/260x85?text=Placeholder" alt="")
                        .films__body
                            span.films__title Название фильма
                            span.films__name Режиссер
                    li.films__item
                        .films__img
                            img(src="http://placehold.it/260x85?text=Placeholder" alt="")
                        .films__body
                            span.films__title Название фильма
                            span.films__name Режиссер
                    li.films__item
                        .films__img
                            img(src="http://placehold.it/260x85?text=Placeholder" alt="")
                        .films__body
                            span.films__title Название фильма
                            span.films__name Режиссерa
                    li.films__item
                        .films__img
                            img(src="http://placehold.it/260x85?text=Placeholder" alt="")
                        .films__body
                            span.films__title Название фильма
                            span.films__name Режиссерa
                    li.films__item
                        .films__img
                            img(src="http://placehold.it/260x85?text=Placeholder" alt="")
                        .films__body
                            span.films__title Название фильма
                            span.films__name Режиссерa
                    li.films__item
                        .films__img
                            img(src="http://placehold.it/260x85?text=Placeholder" alt="")
                        .films__body
                            span.films__title Название фильма
                            span.films__name Режиссерa
                    li.films__item
                        .films__img
                            img(src="http://placehold.it/260x85?text=Placeholder" alt="")
                        .films__body
                            span.films__title Название фильма
                            span.films__name Режиссерa

                    li.films__item
                        .films__img
                            img(src="http://placehold.it/260x85?text=Placeholder" alt="")
                        .films__body
                            span.films__title Название фильма
                            span.films__name Режиссерa
            button.btn.btn_more Показать еще


block footer
    script(src="/js/main.bundle.js")